/* BASICS */
header {
    background-color: #555;
    padding-top: 1em;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: grey;
}

.aboutmebody {
    background-color: white;
}

.homebody {
    background-color: grey;
}

footer {
    padding: 2em;
    font-size: small;
    background-color: grey;
}

footer h2 p {
    margin-left: 2em;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 2em;
    background-color: white;
    margin: 0;
}


nav ul li {
    flex-wrap: wrap;
    color: black;
    padding: 0 2em;
}

nav a {
    padding: 0.5em 1em;
    border-radius: 1em;
    color: black;
}

nav a:hover {
    background-color: #555;
}

.myvideo {
    display: flex;
    max-width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 1.5em;
}

h3 {
    font-size: medium;
}

.intro {
    color: black;
    margin: 0;
    padding: 3em;
    background-color: white;
}

.content img {
    width: 100%;
    height: auto;
}

.button{
    float: right;
}

.content .button {
    position: absolute;
    right: 3em;
    top: 55em;
    background-color: #555;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
    border-radius: 2em;
    text-align: right;
}

.content .button:hover {
    background-color: black;
}

.secondmain {
    display: flex;
    margin-top: 0em;
    position: relative;
}

figure {
    margin: 0;
    max-width: 100%;
}

.secondmain h2, main h2 {
    display: block;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 0;
    padding: 2em;
    background-color: white;
}

/* item 1 */
.item1 figure {
    display: flex;
}

.item1-text {
    margin: 0;
    padding: 2em;
    justify-content: center;
}

.myvideo-collection {
    max-width: 50%;
    margin: 0;
}

/* item 2 */
.item2 {
    background-color: white;
}

.flexcollection{
    display: flex;
}

.item2-fig {
    flex: 1;
}

.item2-text {
    flex: 1;
    padding: 2em;
}

.myvideo-collection2 {
    display: flex;
    max-width: 100%;
    margin: 0;
}

.item-text {
    padding: 2em;
}

img {
    max-width: 100%;
    display: flex;
}

.endcollection, .endhome {
    display: flex;
}

.endcollection img, .endhome img,
.endcollection .myvideo-end  {
    width: 50%;
}


/* FAVOURITE INSPO slider based off of https://www.youtube.com/watch?v=McPdzhLRzCg */
.container {
    padding: 0;
}

.slider-wrapper {
    position: relative;
    margin: 0;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider img {
    flex: auto;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 2em;
    position: absolute;
    bottom: 4em;
    transform: translateX(90%);
}

.slider-nav a {
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: black;
    opacity: 0.5;
    transition: opacity 250ms ease;
}

.slider-nav a:hover {
    opacity: 1;
    background-color: white;
}

/* ABOUT ME */
.myvideo-aboutme {
    max-width: 50%;
}

.aboutme-text {
    padding: 3em;
    padding-bottom: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: start;
}

.flex h2, 
.flex h3 {
    margin: 0;
}
